<section>
    {{!-- display post --}}
    <div>
        <h1>{{title}}</h1>
        <h2>Created by: {{user.username}} Created on: {{settingDate}}</h2>
        <p>{{content}}</p>
    </div>

    {{!-- if user is logged in, they will be able to write a comment --}}
    <div>
        {{#if logged_in}}
            <form class="form postComment">
                <div class="form-group">
                    <input class="form-input" type="text" id="commentSection" placeholder="Add a comment">
                </div>

                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        {{/if}}
    </div>

    {{!-- displaying all comments --}}
    <div>
        <h2>Comments</h2>
        {{#each comment}}
            <div class="comments">
                <p>{{comment}}</p>
                <p>Created by:{{user.username}} Created on: {{settingDate}}</p>
            </div>
        {{/each}}
    </div>
</section>