<section>
    {{!-- display post --}}
    <div>
        <h1>{{title}}</h1>
        <h2>Created by: {{user.username}} Created on: {{settingDate}}</h2>
        <p>{{content}}</p>
    </div>

    {{!-- if user is logged in, they will be able to write a comment --}}
    {{#if logged_in}}
    <form class="form postComment">
        <div class="form-group">
            <textarea class="form-control" type="text" id="commentSection" placeholder="Add a comment"></textarea>
        </div>
        <button class="btn btn-primary" type="submit" id="submitComment">Submit</button>
    </form>
    {{/if}}

    {{!-- displaying all comments --}}

    <h2>Comments</h2>
    {{#each comment}}
    <div class="comments">
        <p>{{comment}}</p>
        <p>Created by:{{user.username}} Created on: {{settingDate}}</p>
    </div>
    {{/each}}

</section>